body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    color: #424242;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.bg-principal {
    background-color: #052B5D;
}

.bg-secundario {
    background-color: #233C5C;
}

.bg-terciario {
    background-color: #EAEAEA;
}

.bg-destaque {
    color: #F2B809;
}

.cor-principal {
    color: #052B5D;
}

.cor-secundario {
    color: #1D4B86;
}

.cor-destaque {
    color: #F2B809;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.header-logo {
    height: 40px;
}

.navbar-toggler,
.navbar-toggler-icon {
    color: #fff !important;
}

.navbar-toggler:active {
    border: none !important;
}


.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    color: #2e2e2e;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
}

.hero-image.active {
    opacity: 0.1;
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #424242;
    padding: 0 20px;
}

@media screen and (min-width: 100px) {
    .hero .hero-content .title {
        font-size: 2rem;
        font-weight: 700;
        margin: 0 0 20px 0;
        line-height: 1.2;
    }

    .hero .hero-content .body {
        font-size: 1rem;
        font-weight: 400;
        margin: 0 0 20px 0;
    }

    .hero .hero-content .cta .btn {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .hero .hero-content .title {
        font-size: 3.5rem;
        font-weight: 700;
        margin: 0 0 30px 0;
        line-height: 1.2;
    }

    .hero .hero-content .body {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6;
    }

    .hero .hero-content .cta .btn {
        margin-top: 20px;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    .hero .hero-content .title {
        font-size: 5rem;
        font-weight: 700;
        margin: 0 0 30px 0;
        line-height: 1.2;
    }

    .hero .hero-content .body {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.6;
    }

    .hero .hero-content .cta .btn {
        margin-top: 40px;
        padding: 15px 30px 15px 30px;
        font-size: 1.5rem;
    }
}

.cta .btn {
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}


.scroll-margin {
    padding-top: 70px;
}

.social-text {
    margin: 0;
    font-size: 1.2rem;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.rede-social {
    margin: 30px;
}

.rede-social {
    font-size: 1rem;
    transition: color 0.3s ease;
    text-decoration: none;
    color: #fff;
}

.rede-social:hover {
    color: #F2B809;
    /* color: #052B5D; */
}

#rodape {
    padding: 10px 0;
}